footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='#') About us
    li: a(href='#') Download apps
    li: a(href='#') Become a guide
    li: a(href='#') Careers
    li: a(href='https://www.linkedin.com/in/visitha-wickramasinghe-bb6894205/') Contact
  p.footer__copyright &copy; This is a sample website created for a Udemy Course. 2024/04/02